$white: #fff;
$black: #000;
$icon_color_second_menu: #C5CEE0;
$icon_color_main_menu: #8F9BB3;
$menu_text_color: #222B45;
$menu_active_Tex_icon_color: #7D1120;
$menu_active_bg_color: rgba(52, 73, 94, 0.08);
$heder_height_D: 90px;
$heder_height_T: 80px;
$heder_height_M: 44px;
$height_secondMomil_menu: 54px;

$widget_border: #EDF1F7;
$widget_icon_1_bg: #EDF1F7;
$widget_icon_color_active: #7D1120;
$widget_icon_color: #2E3A59;
$widget_name_color: #222B45;
$widget_desc_color: #151A30;

$title_colr_rechner: #192A3E;

$content_bg_color: #F5F6F8;
$bg_color_checkbox_switsh: #7D1120;
$checkbox_switch_label_color: #222B45;

$filter_rechner_title_color: #222B45;
$filter_rechner_icon_color: #7D1120;

$radio_btn_bg: #EDF1F7;
$radio_btn_bg_active: #7D1120;
$radio_btn_color_icon: #8F9BB3;
$radio_btn_color_icon_active: #fff;
$radio_btn_color_border: #C5CEE0;
$radio_btn_title_color: #323C47;
$radio_btn_title_border: #D3D8D0;


$EneteGradientRed: linear-gradient(to right, #7D1120, #C50D16);